[Unit]
Description=Configure my Sonix keyboard
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/pm/pm/scripts/kbd-config.sh

[Install]
WantedBy=graphical-session.target