URxvt.perl-ext-common: default,keyboard-select,url-select,font-size
!,bidi

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list

URxvt.keysym.C-z: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true

URxvt.iso14755:        false
URxvt.iso14755_52:     false

URxvt.keysym.M-w:      eval:selection_to_clipboard
URxvt.keysym.C-y:      eval:paste_clipboard
! doesnt work
URxvt.keysym.C-S-v:      eval:paste_clipboard

! right click url
URxvt.url-launcher: xdg-open
URxvt.matcher.button: 3

! xft:SourceCodePro:size=14
URxvt.font:                xft:SourceCodePro:size=14, xft:NotoSans:size=14
URxvt.boldFont:            xft:SourceCodePro:size=14:bold
URxvt.italicFont:          xft:SourceCodePro:size=14:italic
URxvt.boldItalicFont:      xft:SourceCodePro:size=14:bold:italic
URxvt.letterSpace:         -1
! 16 with those ones v
! Xft*dpi: 82
! Xft*antialias: true
! Xft*hinting: true
! Xft*rgba: rgb
! Xft*autohint: false
! Xft*hintstyle: hintfull
! Xft*lcdfilter: lcddefault
! URxvt.intensityStyles: false
! URxvt.allow_bold: false
! URxvt.font: xft:Ubuntu Mono:style=Regular:pixelsize=17
! URxvt.boldFont: xft:Ubuntu Mono:style=Bold:pixelsize=17  
URxvt.saveLines: 65535

! test de coleurs difficiles de rendre lisible :
! dircolors | tr ':' '\n' | awk -F= '{print "\033[" $2 "m" $1 "\033[0m"}' | head -n 17 | tail -n +12
! (set-user-ID, set-group-ID, file with capability, sticky directory, other-writable directory, sticky and other-writable directory)
! color0-21, cursorColor par défaut
URxvt*background: black
URxvt*foreground: white

URxvt.internalBorder:      0
URxvt.externalBorder:      0

URxvt.scrollBar:           false

URxvt.scrollTtyOutput:   False
URxvt.scrollWithBuffer:  True
URxvt.scrollTtyKeypress: True

! ne marche pas
URxvt.iconFile: /usr/share/icons/breeze/apps/16/utilities-terminal.svg
URxvt.print-pipe: cat | pipe-to-emacs piped-mode
