[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=hidenews
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Hidenews
Comment=Hide right news sidebar in welcome screen
